[Unit]
Description=CC Registry quick search daemon

[Service]
WorkingDirectory=/home/ccommons/daemon/build/
ExecStart=/home/ccommons/daemon/build/regdaemon -c 8

